@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Website Layout */
body {
    background-color: #222831;
    margin-left: 35px;
    margin-right: 35px;
    height: 100%;
}

.content {
    max-width: 767px;
    margin: auto;
    min-height: 100vh;
}

hr.primary {
    border: 0.5px solid #76ABAE;
}

/* Main Classes */
h1 {
    font-family: "IBM Plex Mono";
    font-weight: 700;
    font-style: normal;
    color: #EEEEEE;
    padding-top: 15px;
    padding-bottom: 10px;
}

h2 {
    font-family: "IBM Plex Mono";
    font-weight: 700;
    font-style: normal;
    color: #EEEEEE;
}

h3 {
    font-family: "IBM Plex Mono";
    font-weight: 600;
    font-style: normal;
    color: #76ABAE;
}

h4 {
    font-family: "IBM Plex Mono";
    font-weight: 600;
    font-style: normal;
    color: #EEEEEE;
}

p {
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-style: normal;
    color: #EEEEEE;
    padding-bottom: 10px;
}

a {
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-style: normal;
    color: #EEEEEE;
    padding-bottom: 10px;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 10px;
    cursor: pointer;
}

a:hover {
    color: #76ABAE;
}

li {
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-style: normal;
    color: #EEEEEE;
    padding-bottom: 10px;
}

li::marker {
    color: #76ABAE;
}

/* Header */
.header {
    overflow: hidden;
    padding-top: 20px;
}

.header-title {
    font-weight: 600;
}

.header h2 {
    float: left;
    text-align: center;
    text-decoration: none;
}

.header-right {
    float: right;
}

.header h3 {
    float: left;
    text-align: center;
    text-decoration: none;
}

.header-selected {
    padding-left: 20px;
    text-decoration: none;
    font-weight: 900;
}

.header-elements {
    padding-left: 20px;
    text-decoration: none;
    font-weight: 400;
}

.header a {
    float: left;
    text-align: center;
    text-decoration: none;
    line-height: 25px;
}

.header a:hover {
    float: left;
    text-align: center;
    text-decoration: none;
    line-height: 25px;
}

/* Social Media Sharesheet */
.social-media-sharesheet {
    display: flex;
    gap: 10px;
}

.social-icon {
    width: 34px;
    height: 24px;
    display: block;
    background-size: cover;
    background-position: center;
}

.social-icon.email {
    background-image: url('assets/social/email.svg');
    width: 34px;
    height: 24px;
}

.social-icon.email:hover {
    background-image: url('assets/social/email_hover.svg');
    width: 34px;
    height: 24px;
}

.social-icon.linkedin {
    background-image: url('assets/social/linkedin.svg');
    width: 34px;
    height: 24px;
}

.social-icon.linkedin:hover {
    background-image: url('assets/social/linkedin_hover.svg');
    width: 34px;
    height: 24px;
}

.social-icon.instagram {
    background-image: url('assets/social/instagram.svg');
    width: 34px;
    height: 24px;
}

.social-icon.instagram:hover {
    background-image: url('assets/social/instagram_hover.svg');
    width: 34px;
    height: 24px;
}

.social-icon.youtube {
    background-image: url('assets/social/youtube.svg');
    width: 34px;
    height: 24px;
}

.social-icon.youtube:hover {
    background-image: url('assets/social/youtube_hover.svg');
    width: 34px;
    height: 24px;
}


/* Video */
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-div {
    padding-bottom: 20px;
}

/* 404 Page */
a.p-link {
    font-family: "IBM Plex Mono";
    font-weight: 600;
    font-style: normal;
    color: #EEEEEE;
    padding-bottom: 10px;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 5px;
}

a.p-link:hover {
    font-family: "IBM Plex Mono";
    font-weight: 600;
    font-style: normal;
    color: #76ABAE;
    padding-bottom: 10px;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 5px;
    cursor: pointer;
}

/* Other */
h2.job-title {
    font-weight: 600;
}

a.no-decoration {
    text-decoration: none;
}

a.no-decoration:hover {
    text-decoration: none;
}

a.italics {
    font-weight: 500;
    font-style: italic;
    padding-bottom: 10px;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 10px;
}

a.italics:hover {
    font-family: "IBM Plex Mono";
    font-weight: 500;
    font-style: italic;
    color: #76ABAE;
    padding-bottom: 10px;
   text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 10px;
    cursor: pointer;
}

/* Mobile Media Screen */
@media screen and (max-width: 767px){
    
    /* Website Layout */
    body {
        margin-left: 20px;
        margin-right: 20px;        
    }
    
    /* Main Classes */
    h1 {
        font-size: 2em !important;
    }

    h2 {
        font-size: 1.5em !important;
    }
    
    h3 {
        font-size: 1.2em !important;
    }

    p {
        font-size: 1.2em !important;
    }

    /* Header */
    .header h2 {
        float: none;
        display: block;
        text-align: left;
    }
    
    .header h3 {
        float: none;
        display: block;
        text-align: left;
    }
    
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
     
    .header-right {
        float: none;
    }
    
}
