@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    background-color: #222831;
    margin-left: 35px;
    margin-right: 35px;
}

.content {
  max-width: 767px;
  margin: auto;
}

h1 {
    font-family: "IBM Plex Mono";
    font-weight: 700;
    font-style: normal;
    color: #EEEEEE;
    padding-top: 15px;
    padding-bottom: 10px;
}

h2 {
    font-family: "IBM Plex Mono";
    font-weight: 700;
    font-style: normal;
    color: #EEEEEE;
}

h2.menu {
    font-family: "IBM Plex Mono";
    font-weight: 700;
    font-style: normal;
    color: #EEEEEE;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2.jobTitle {
    font-family: "IBM Plex Mono";
    font-weight: 600;
    font-style: normal;
    color: #EEEEEE;
}

h3 {
    font-family: "IBM Plex Mono";
    font-weight: 600;
    font-style: normal;
    color: #76ABAE;
}

p {
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-style: normal;
    color: #EEEEEE;
    padding-bottom: 10px;
}

a {
    font-family: "IBM Plex Mono";
    font-weight: 600;
    font-style: normal;
    color: #EEEEEE;
    padding-bottom: 10px;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 10px;
}

a.italics {
    font-family: "IBM Plex Mono";
    font-weight: 500;
    font-style: italic;
    color: #EEEEEE;
    padding-bottom: 10px;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 10px;
}

a:hover {
    font-family: "IBM Plex Mono";
    font-weight: 600;
    font-style: normal;
    color: #76ABAE;
    padding-bottom: 10px;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 10px;
}

a.italics:hover {
    font-family: "IBM Plex Mono";
    font-weight: 500;
    font-style: italic;
    color: #76ABAE;
    padding-bottom: 10px;
   text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 10px;
}

hr.primary {
    border: 0.5px solid #76ABAE;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.videoDiv {
    padding-bottom: 20px;
}
.footer {
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #EEEEEE;
    padding-bottom: 10px;
}

.social-media-sharesheet {
  display: flex;
  gap: 10px; /* Spacing between icons */
}

.social-icon {
  width: 34px; /* Adjust to your icon size */
  height: 24px;
  display: block;
  background-size: cover;
  background-position: center;
}

.social-icon:hover {
  transform: scale(1); /* Ensure no size change */
}
.social-icon.email {
  background-image: url('assets/social/email.svg');
  width: 34px; /* Adjust to your icon size */
  height: 24px;
}

.social-icon.email:hover {
  background-image: url('assets/social/email_hover.svg');
  width: 34px; /* Adjust to your icon size */
  height: 24px;
}

.social-icon.facebook {
  background-image: url('assets/social/facebook.svg');
  width: 34px; /* Adjust to your icon size */
  height: 24px;
}

.social-icon.facebook:hover {
  background-image: url('assets/social/facebook_hover.svg');
  width: 34px; /* Adjust to your icon size */
  height: 24px;
}

.social-icon.linkedin {
  background-image: url('assets/social/linkedin.svg');
  width: 34px; /* Adjust to your icon size */
  height: 24px;
}

.social-icon.linkedin:hover {
  background-image: url('assets/social/linkedin_hover.svg');
  width: 34px; /* Adjust to your icon size */
  height: 24px;
}

.social-icon.instagram {
  background-image: url('assets/social/instagram.svg');
  width: 34px; /* Adjust to your icon size */
  height: 24px;
}

.social-icon.instagram:hover {
  background-image: url('assets/social/instagram_hover.svg');
  width: 34px; /* Adjust to your icon size */
  height: 24px;
}

.social-icon.youtube {
  background-image: url('assets/social/youtube.svg');
  width: 34px; /* Adjust to your icon size */
  height: 24px;
}

.social-icon.youtube:hover {
  background-image: url('assets/social/youtube_hover.svg');
  width: 34px; /* Adjust to your icon size */
  height: 24px;
}


/* Mobile Media Screen */
@media screen and (max-width: 767px){
    
body {
    margin-left: 20px;
    margin-right: 20px;        
}
h1 {
    font-size: 2em !important;
 }
h2 {
    font-size: 1.5em !important;
 }
h3 {
    font-size: 1.2em !important;
 }
p {
    font-size: 1.2em !important;
 }
}
